WIDTH 30
HEIGHT 14
MAP
xRxxxxxxRRRRRRxxxxxxxxRRRRRRxx
TxxxxxxTWWRRWWTxxxxxxTWWRRWWTx
xxxxxxTTTBTTTBTTxxxxTTTBTTTBTT
xxxccxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxB
xxxxTxxxxxTxxxxxTxxxxxTxxxxBBT
xxTTBTTxTTBTTxTTBTTxTTBTTxxTTB
xxRxRxRxRxRxRxRxRxRxRxRxRxxRxR
Oxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Oxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OxxRxxxxxRxxxxxRxxxWWRxxxxxxxx
xxTTTxxxTTTxxxTTTWWWTTTxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#AI LIST: AI <NAME> <STARTX> <STARTY> <UPIMAGE> <RIGHTIMAGE> <DOWNIMAGE> <LEFTIMAGE> <BULLETIMAGE>
AI CamperAI 0 0
AI SimpleAI 14 3 images/Blue/tankB_U.png images/Blue/tankB_R.png images/Blue/tankB_D.png images/Blue/tankB_L.png images/Blue/bulletB.png
AI SimpleAI 29 0 images/Red/tankR_U.png images/Red/tankR_R.png images/Red/tankR_D.png images/Red/tankR_L.png images/Red/bulletR.png
AI SimpleAI 8 7 images/Green/tankG_U.png images/Green/tankG_R.png images/Green/tankG_D.png images/Green/tankG_L.png images/Green/bulletG.png

AI SimpleAI 20 7 images/BlackWhite/tankBW_U.png images/BlackWhite/tankBW_R.png images/BlackWhite/tankBW_D.png images/BlackWhite/tankBW_L.png images/BlackWhite/bulletBW.png
AI SimpleAI 28 7 images/Coral/tankC_U.png images/Coral/tankC_R.png images/Coral/tankC_D.png images/Coral/tankC_L.png images/Coral/bulletC.png
AI SimpleAI 3 10 images/Lime/tankLi_U.png images/Lime/tankLi_R.png images/Lime/tankLi_D.png images/Lime/tankLi_L.png images/Lime/bulletLi.png
AI SimpleAI 12 10 images/Purple/tankP_U.png images/Purple/tankP_R.png images/Purple/tankP_D.png images/Purple/tankP_L.png images/Purple/bulletP.png

AI SimpleAI 22 10 images/SkyBlue/tankSB_U.png images/SkyBlue/tankSB_R.png images/SkyBlue/tankSB_D.png images/SkyBlue/tankSB_L.png images/SkyBlue/bulletSB.png
AI SimpleAI 14 8 images/Tiger/tankTi_U.png images/Tiger/tankTi_R.png images/Tiger/tankTi_D.png images/Tiger/tankTi_L.png images/Tiger/bulletTi.png


#FIELDIMAGE <MAP FILE>
FIELDIMAGE images/green.png

#OBSTACLE_IMAGE <IMAGE1> [<IMAGE2>]
OBSTACLE_IMAGE images/tree/tree.png images/rock/rock.png
TREE_IMAGE images/tree/tree.png images/tree/treeb.png images/tree/treec.png images/tree/treed.png
BUSH_IMAGE images/bush/bush1.png images/bush/bush2.png images/bush/bush3.png images/bush/bush4.png
ROCK_IMAGE images/rock/rock.png images/rock/rockb.png images/rock/rockc.png
WATER_IMAGE images/Water/waterTex.png images/Water/waterTexNS.png images/Water/waterTexES.png images/Water/waterTexSS.png images/Water/waterTexWS.png images/Water/waterTexNES.png images/Water/waterTexSES.png images/Water/waterTexSWS.png images/Water/waterTexNWS.png images/Water/waterTexEWS.png images/Water/waterTexNSS.png images/Water/waterTexNWES.png images/Water/waterTexNESS.png images/Water/waterTexSEWS.png images/Water/waterTexNWSS.png images/Water/waterTexPond.png

#Max Turns <200>
MAXTURNS 2

#TANK RULES
#STAT <AMMOUNT>
#VALID STATS: DAMAGE, HEALTH, RADAR, AP, SPECIAL, RANGE, AMMO
DAMAGE 2
HEALTH 6
RADAR 4 
AP 2
SPECIAL 1
RANGE 4
AMMO 6

#AI IDLE SPEED: AI_SPEED <750>
AI_SPEED 750

#ANIMATION SPEED: ANIMATION_SPEED<20>
ANIMATION_SPEED 20

#BULLET SPEED: BULLET_SPEED<80>
BULLET_SPEED 80

#TANK SPEED: TANK_SPEED<400>
TANK_SPEED 400

#DISABLEGUI Disables GUI
#DISABLEGUI
